numpy 
pandas 
scikit-learn
dvc
notebook
matplotlib
seaborn
python-box==6.0.2
ensure==1.0.2
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
Flask
Flask-Cors
pymongo
pymongo[srv]==4.2.0
python-dotenv
dill
imblearn