<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Style</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <header>
        <h1>Customer Churn Prediction</h1>
    </header>

    <div class="container">
        <h2>Customer Information Form</h2>

        <form action="{{ url_for('predict') }}" method="post">
            <div class="form-container">

					<div class="form-group">
					<label for="age">Age:</label>
					<input type="text" id="age" name="age">
					</div>    

					<p><b>Married:</b></p>
					<label for="Yes">
					<input type="radio" id="Yes" name="Yes" value="1" required="required" />
					Yes
					</label>
					<label for="No">
					<input type="radio" id="No" name="No" value="2" required="required" />
					No
					</label>
					<br>

					<p><b>Offer:</b></p>					
					<label for="Offer A">
					<input type="radio" id="Offer A" name="Offer A" value="1" required="required" />
					Offer A</label>					
					<label for="Offer B">
					<input type="radio" id="Offer B" name="Offer B" value="2" required="required" />
					Offer B</label>					
					<label for="Offer ">
					<input type="radio" id="Offer C" name="Offer C" value="3" required="required" />
					Offer C</label>					
					<label for="Offer D">
					<input type="radio" id="Offer D" name="Offer D" value="4" required="required" />
					Offer D</label>					
					<label for="Offer E">
					<input type="radio" id="Offer E" name="Offer E" value="5" required="required" />
					Offer E</label>			
					<label for="None">
					<input type="radio" id="None" name="None" value="6" required="required" />
					None</label>
					<br>

					<p><b>Phone Service:</b>
					<label for="Yes">
					<input type="radio" id="Yes" name="Yes" value="1" required="required" />
					Yes
					</label>
					<label for="No">
					<input type="radio" id="No" name="No" value="2" required="required" />
					No
					</label>
					<br>

					<div class="form-group">
					<label for="Avg Monthly Long Distance Charges"><b>Avg Monthly Long Distance Charges:</b></label>
					<input type="text" id="Avg Monthly Long Distance Charges" name="Avg Monthly Long Distance Charges">
					</div>

					<p><b>Multiple Lines:</b>
					<label for="Yes">
					<input type="radio" id="Yes" name="Yes" value="1" required="required" />
					Yes
					</label>
					<label for="No">
					<input type="radio" id="No" name="No" value="2" required="required" />
					No
					</label>
					<br>

					<p><b>Internet Type:</b>					
					<label for="Fiber Optic">
					<input type="radio" id="Fiber Optic" name="Fiber Optic" value="1" required="required" />
					Fiber Optic</label>					
					<label for="DSL">
					<input type="radio" id="DSL" name="DSL" value="2" required="required" />
					DSL</label>					
					<label for="Cable">
					<input type="radio" id="Cable" name="Cable" value="2" required="required" />
					Cable</label></p>
					<br>

					<div class="form-group">
					<label for="Avg_Monthly_GB_Download"><b>Avg_Monthly_GB_Download:</b></label>
					<input type="text" id="Avg_Monthly_GB_Download" name="Avg_Monthly_GB_Download">
					</div>

                    <p><b>Online_Security:</b>
					<label for="Yes">
					<input type="radio" id="Yes" name="Yes" value="1" required="required" />
					Yes
					</label>
					<label for="No">
					<input type="radio" id="No" name="No" value="2" required="required" />
					No
					</label>
					<br>

					<p><b>Online_Backup:</b>
					<label for="Yes">
					<input type="radio" id="Yes" name="Yes" value="1" required="required" />
					Yes
					</label>
					<label for="No">
					<input type="radio" id="No" name="No" value="2" required="required" />
					No
					</label>
					<br>

					<p><b>Device_Protection_Plan:</b>
					<label for="Yes">
					<input type="radio" id="Yes" name="Yes" value="1" required="required" />
					Yes
					</label>
					<label for="No">
					<input type="radio" id="No" name="No" value="2" required="required" />
					No
					</label>
					<br>

                    <label for="Contract"><b>Contract:</b></label>
                    <input type="text" id="Contract" name="Contract">
                    </div>
        
                    <p><b>Paperless_Billing:</b>
                    <label for="Yes">
					<input type="radio" id="Yes" name="Yes" value="1" required="required" />
					Yes
					</label>
					<label for="No">
					<input type="radio" id="No" name="No" value="2" required="required" />
					No
					</label>
					<br>
        
                    <p><b>Payment_Method:</b>                    
                    <label for="Bank Withdrawal">
					<input type="radio" id="Bank Withdrawal" name="Bank Withdrawal" value="1" required="required" />
					Bank Withdrawal</label>                    
                    <label for="Credit Card">
					<input type="radio" id="Credit Card" name="Credit Card" value="2" required="required" />
					Credit Card</label>               
                    <label for="Mailed Check">
					<input type="radio" id="Mailed Check" name="Mailed Check" value="2" required="required" />
					Mailed Check</label></p>
                    <br>

                    <div class="form-group">
                    <label for="Monthly_Charge"><b>Monthly_Charge:</b></label>
                    <input type="text" id="Monthly_Charge" name="Monthly_Charge">
                    </div>
                    
					<p><b>Premium_Tech_Support:</b>
					<label for="Yes">
					<input type="radio" id="Yes" name="Yes" value="1" required="required" />
					Yes
					</label>
					<label for="No">
					<input type="radio" id="No" name="No" value="2" required="required" />
					No
					</label>
					<br>

					<p><b>Streaming_TV:</b></p>
					<label for="Yes">
					<input type="radio" id="Yes" name="Yes" value="1" required="required" />
					Yes
					</label>
					<label for="No">
					<input type="radio" id="No" name="No" value="2" required="required" />
					No
					</label>
					<br>

					<p><b>Streaming_Movies:</b></p>
					<label for="Yes">
					<input type="radio" id="Yes" name="Yes" value="1" required="required" />
					Yes
					</label>
					<label for="No">
					<input type="radio" id="No" name="No" value="2" required="required" />
					No
					</label>
					<br>

					<div class="form-group">
					<label for="Total_Charges"><b>Total_Charges:</b></label>
					<input type="text" id="Total_Charges" name="Total_Charges">
					</div>

					<p><b>Streaming_Music:</b></p>
					<label for="Yes">
					<input type="radio" id="Yes" name="Yes" value="1" required="required" />
					Yes
					</label>
					<label for="No">
					<input type="radio" id="No" name="No" value="2" required="required" />
					No
					</label>
					<br>
			
                    <div class="form-group">
                    <label for="Total_Long_Distance_Charges"><b>Total_Long_Distance_Charges:</b></label>
                    <input type="text" id="Total_Long_Distance_Charges" name="Total_Long_Distance_Charges">
                    </div>

            </div>
			<div style="text-align: center; margin-top: 20px;">
				<button type="submit">Submit</button>
			</div>
        </form>
    </div>

</body>
</html>
